:root {
  --prime-link-color: #2196f3;
  --herobtn-link-color: #188ce8;
  --prime-linktxt-color: #212121;
  --prime-text-color: #757575;
  --link-hover-color: #ffffff;
}

/*global styles*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--prime-linktxt-color);
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.button {
  cursor: pointer;
}

.container {
  outline: 2px solid blue;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo,
.link,
.mail,
.phone,
.map,
.footer a /*специфічний клас logo чомусь не працює на вимикання підкреслення посилання*/ {
  text-decoration: none;
}

.footer,
.hero {
  background-color: #2f303a;
}

/*HEADER*/
.header .container,
.nav,
.contacts,
.nav .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .link {
  color: var(--prime-linktxt-color);
}

.nav .item:not(:last-child),
.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.header .link.current {
  color: var(--prime-link-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--prime-link-color);
  margin-right: 93px;
}

.header .logo-studio {
  color: #000000;
}
.header .link,
.header .mail,
.header .phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 32px 0px;
}

.header .mail,
.header .phone {
  color: var(--prime-text-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--prime-link-color);
  color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}
/*HERO*/
.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--link-hover-color);
}

.hero .button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--link-hover-color);
  background-color: var(--prime-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--herobtn-link-color);
}

/*advantages*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages .list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.advantages .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages .title {
  width: 270px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages .text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}

/*WHAT WE DO */
.wwd .title,
.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.wwd .list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.wwd .container,
.team .container {
  padding-bottom: 94px;
}

/*TEAM*/
.team .container {
  padding-top: 94px;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.team .text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);

  margin-top: 10px;
  padding-bottom: 30px;
}

.team .list {
  display: flex;
  justify-content: space-between;
}

.team .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*FOOTER*/

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo-studio {
  color: var(--link-hover-color);
}

.footer .link,
.footer .map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer .map {
  color: var(--link-hover-color);
}
.address .link:hover,
.address .link:focus,
.address .map:hover,
.address .map:focus {
  color: var(--link-hover-color);
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .list {
  margin-top: 20px;
}

/*PORTFOLIO*/
.p-main .section {
  margin-top: 94px;
}

/*FILTER BUTTONS*/
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filters .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
}
.filters .button:hover,
.filters .button:focus {
  color: var(--link-hover-color);
  background-color: var(--prime-link-color);
}

/*PORTFOLIO MAIN*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc (100% / 3 - 30px);
  padding-left: 0;
  margin-top: 50px;
  gap: 30px;
}

.portfolio-list .item {
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  padding-left: 24px;
  padding-right: auto;
  padding-top: 20px;
  padding-bottom: 54px;
  margin-bottom: 4px;
}
.portfolio-list .text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
  text-align: left;
  padding-left: 24px;
}
